 html, body {
	  background-image: url("bcvr.jpg");
	  background-attachment: fixed;
      min-height: 100%;
      }
      .box{
      width: 50px;
      height: 10px;
}
	  .banner {

      position: relative;
      height: 260px;
      background-image: url("img11.jpg");
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      }
      body, div, form, input, p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: black;
      line-height: 22px;
      }
      h1 {
      position: absolute;
      margin: 0;
      line-height: 50px;
      font-size: 60px;
      color: #fff;
      z-index: 2;
      }
	  fieldset
	  {
      max-width:100%;
      padding:16px;
	  border-radius:8px;
      }
	  legend {
      padding: 10px;
      font-family: Roboto, Arial, sans-serif;
      font-size: 18px;
      color: #fff;
      background-color: #3263cd;
      }
      .testbox {
	  opacity: 0.7;
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;

      }
      form {
      width: 60%;
      padding: 20px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 0 15px 0 #3263cd;
      }

      .banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      width: 100%;
      height: 100%;
      }
      input, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }

      .label{
      position: relative;
      display: inline-block;
      margin: 5px 20px 15px 0;
      cursor: pointer;
      }
      .question span {
      margin-left: 30px;
      }
      .label:before,{
      content: "";
      position: absolute;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 2px solid #ccc;
      }
      label.checkbox:before{ border-radius: 5px}
      input[type=radio]:checked + label:before, label.radio:hover:before,
      input[type=checkbox]:checked + label:before, label.chekbox:hover:before {
      border: 2px solid #3263cd;
      }

      .my-cta-button-block {
    background: #f9f9f9;
   	border: 2px solid #000000;
    box-shadow: 3px 3px #8c8c8c;
	margin-top: 10px;
    color: #000000;
    width:200px;
    height:50px;
    display: inline-block;
   	font: italic bold 20px/1 "Calibri", sans-serif;
    text-align: center;
      }
      my-cta-button {
     background: #f9f9f9;
   	border: 2px solid #000000;
    box-shadow: 3px 3px #8c8c8c;
	margin-top: 10px;
    color: #000000;
    width:200px;
    height:50px;
    display: inline-block;
   	font: italic bold 20px/1 "Calibri", sans-serif;
    text-align: center;
      }
      my-cta-button:hover {
      background: #5b82d7;
      }
